* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #323437;
}

.Header {  
  position: absolute;
  color: #e2e2e2;
  font-size: xx-large;
  top: 0;
}

body, .quote-input {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #d1d0c5;
  padding: 1rem;
  border-radius: .5rem;
  width: 950px;
  max-width: 1000px;
  box-shadow: 2px 2px 30px 2px black;
}

.quote-input {
  width: 100%;
  text-align: left;
  height: 5rem;
  margin: auto;
  resize: none;
  font-size: 18pt;
  border-radius: .2rem;
  color: #4D4F53;
}

.cursor {
  color: black;
}

.incorrect {
  color: #ca4754;
}

.correct{
  color: green;
}

#time {
  height: 150px;
  width: 100%;
  display: flex;
  place-items: center;
  position: static;
  top: 20px;
  align-items: center;
  /* display: none; */
}


#time h2 {
  color: #e2e2e2;
  font-size: 25pt;
  line-height: 30px;
  cursor: pointer;
}


#time h3 { 
  color: #ca4754;
  font-size: 40px;
}

#result {
  height: 200px;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 150px;
  display: none;
}

#result .showResult {
  background-color: #f1f1f1;
  width: 100px;
  height: 200px;
  width: 250px;
  display: grid;
  place-items: center;
  margin: 70px 120px;
}

#result .showResult h2 {
  font-size: 40px;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

#result .showResult h1 {
  line-height: 50px;
  font-size: 60px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
}

.button5 {
  border-radius: 50px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #e7e7e7;
  color: #ca4754;
}


.button5 :hover{
  background-color: darkgreen;
}


.button6 {
  height: auto;
  width: auto;
  align-items: center;
  align-content: center;
  margin-bottom: auto;  
  border-radius: 50px;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  background-color: chartreuse;
  color: #323437;
}