* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #323437;
}

.Header {  
  position: absolute;
  color: #e2e2e2;
  font-size: xx-large;
  font-family: monospace;
  top: 0%;
  left: 9%;
}

.Header a h2:hover{
  color: #ca4754;
  text-decoration: none;
}

body, .quote-input {
  font-family: monospace;
  font-weight: bold;
}

.container {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: .5rem;
  width: auto;
  height: auto;
  max-height: 2000px;
  max-width: 1000px;
  box-shadow: 2px 2px 30px 2px black;
}

.quote-input {
  width: auto;
  text-align: justify;
  height: auto;
  margin: auto;
  resize: none;
  max-height: fit-content;
  max-width: max-content;
  font-size: 18pt;
  font-style: inherit;
  border-radius: .2rem;
  color: #4D4F53;
}

.cursor {
  color: black;
}

.incorrect {
  color: #ca4754;
}

.correct{
  color: green;
}

#time {
  height: 150px;
  width: 100%;
  display: flex;
  place-items: center;
  position: static;
  top: 20px;
  align-items: center;
  /* display: none; */
}

#time :hover{
  color: #ca4754;
}

#time h2 {
  color: #e2e2e2;
  font-size: 25pt;
  line-height: 30px;
  cursor: pointer;
}

#time h2:hover{
  color: #ca4754;
}

#time h3 { 
  color: #ca4754;
  font-size: 40px;
}

#result {
  height: 200px;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 150px;
  display: none;
}

#result .showResult {
  background-color: #f1f1f1;
  width: 100px;
  height: 200px;
  width: 250px;
  display: grid;
  place-items: center;
  margin: 70px 120px;
}

#result .showResult h2 {
  font-size: 40px;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

#result .showResult h1 {
  line-height: 50px;
  font-size: 60px;
}

.button {
  border: none;
  color: white;
  align-content: center;
  padding: 15px 18px;
  font-size: 26px;
  margin: 10px 10px;
  cursor: pointer;
}

.button5 {
  
  border-radius: 50px;
  align-content: center;
  font-family: monospace;
  font-weight: bolder;
  background-color: #e7e7e7;
  color: #ca4754;
}

.button6 {
  height: auto;
  width: auto;
  align-items: center;
  align-content: center;
  margin-bottom: auto;  
  border-radius: 50px;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  background-color: chartreuse;
  color: #323437;
}


.addinformation {
  margin-top: 5%;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  font-family: monospace;
  font-style: italic;
  color: #ca4754;
  position: relative;
}

.addinformation p{
  position: fixed;
}

.column {
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
  margin-top: 10%;
  display: none;
}

.row:after {
  content: initial;
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 35px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
